<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="forms.css" type="text/css">
</head>
<body>

    <header>
        <h1>Login</h1>
    </header>

    <main>
        <article>
            <div class="container">
                <form action="#" method="POST">
                    <div class="fieldset">
    
                        
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email">
            
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password">
                        
                        <div class="center">
                            <input type="submit" value="Log in">
                        </div>
                        
                        <div class="center pt">
                            <a href="register.html">Register If you already don't have account</a>
                        </div>

                    </fieldset>
                </form>
            </div>
        </article>
    </main>

</body>
</html>