<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="forms.css" type="text/css">
</head>
<body>

    <header>
        <h1>Login</h1>
    </header>

    <main>
        <div class="container">
            <form action="" method="">
                <div class="fieldset">

                    <label for="email">Email</label>
                    <input type="email" id="email" name="email">
        
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">
        
                    <input type="submit" value="Log in">

                </div>
            </form>
        </div>
    </main>

</body>
</html>