<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="forms.css" type="text/css">
</head>
<body>

    <header>
        <h1>Register</h1>
    </header>

    <main>
        <article>
            <div class="container">
                <form action="#" method="POST">
                    <div class="fieldset">
    
                        
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email">

                        <label for="name">Name</label>
                        <input type="text" id="name" name="name">

                        <label for="surname">Surname</label>
                        <input type="text" id="surname" name="surname">
            
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password">

                        <label for="confirm_password">Confirm password</label>
                        <input type="password" id="confirm_password" name="confirm_password">
                        
                        <div class="center">
                            <input type="submit" value="Register">
                        </div>
                        
                        <div class="center pt">
                            <a href="login.html">Login If you already have account</a>
                        </div>

                    </fieldset>
                </form>
            </div>
        </article>
    </main>

</body>
</html>