@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
* {
    margin: 0;
    padding: 0;
}

::-moz-selection {
    background-color: white;
}

::selection {
    background-color: white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 10px;
}

main {
    /* margin-left: calc(21vw - 4px); */
    margin-left: 21vw;
}

main>section {
    /* display: inline-block; */
    float: left;
}

.left {
    width: 25vw;
    height: 90vh;
    padding: 5vh 5vh;
    background-color: #DDD;
}

.left header {
    padding: 0 20px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 3vh;
}

.left header>div {
    font-size: 36px;
    filter: drop-shadow(0 0 1px rgb(110, 110, 110)) contrast(0.35);
}

.left header>div img {
    height: 50px;
    transform: scaleX(-1);
}

.person {
    width: 23vw;
    height: 80px;
    padding: 20px 1vw;
    border-radius: 2vh;
    background-color: white;
    position: relative;
    margin-top: 1.5vh;
    box-shadow: 0 0 10px 0 rgb(168, 168, 168);
    cursor: pointer;
}

.person:hover {
    box-shadow: 0 0 15px 0 rgb(68, 68, 68);
}

.person>div {
    display: inline-block;
}

.person .info {
    height: 80px;
    transform: translateY(-18px);
    margin-left: 1vw;
}

.person .info h2 {
    margin-bottom: 7px;
}

.person .info h3 {
    color: rgb(98, 98, 98);
    font-weight: 400;
}

.person img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.owner {
    position: absolute;
    right: 1.3vw;
    width: 20px;
    height: 20px;
    margin: 30px 0;
    border-radius: 50%;
    background-color: #05FF00;
}

.right {
    /* width: 48vw; */
    /* height: 100vh; */
    /* background-color: red; */
}

.right>header {
    width: 49vw;
    height: 80px;
    padding: 20px 0;
    background-color: #F5F5F5;
    position: fixed;
}

.right>header>div {
    display: inline-block;
}

.right>header>div:first-child {
    margin-left: 5vh;
}

.right>header .info {
    height: 80px;
    transform: translateY(-18px);
    margin-left: 1vw;
}

.right>header .info h2 {
    margin-bottom: 3px;
    font-size: 2.2em;
    letter-spacing: 1px;
    font-weight: 900;
}

.right>header .info h3 {
    color: rgb(98, 98, 98);
    font-size: 1.5em;
    font-weight: 400;
}

.right>header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.right>header .owner {
    right: 3vw;
    width: 30px;
    height: 30px;
    margin: 25px 0;
}

.chat {
    width: 49vw;
    height: 80vh;
    position: fixed;
    top: 120px;
    box-sizing: border-box;
    padding: 20px;
    /* background-color: red; */
    overflow-y: auto;
}

.chat>div[class] {
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    max-width: 60%;
    margin-bottom: 13px;
    line-height: 130%;
    box-shadow: 0 0 10px -2px rgb(168, 168, 168);
}

.chat .sent {
    float: right;
    background-color: #E63946;
}

.chat .received {
    float: left;
    background-color: #C4C4C4;
}

.type {
    position: fixed;
    bottom: 0;
    height: calc(20vh - 120px);
    width: 49vw;
    background-color: #F5F5F5;
}

.fieldSet {
    margin-left: 2.3vw;
}

.fieldSet input[type=text] {
    width: 40vw;
    height: 40px;
    padding: 3px;
    margin: 1.4vh 0;
    font-size: 22px;
    border-radius: 7px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
}

.fieldSet input[type=text]:focus {
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.6);
}

.fieldSet input[type=submit] {
    margin-left: 5px;
    width: 70px;
    height: 40px;
    letter-spacing: 2px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
    background-color: #E63946;
    border: none;
    color: white;
}

.fieldSet input[type=submit]:hover {
    background-color: black;
}